html {
  font-family: "Input Sans Narr", sans-serif;
  background: #333;
  color: #ffffee;
}

#map {
  width: 100%;
  height: 100vh;
}

.year {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  text-align: center;
  padding: 1rem;
}

.timeline {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    display: inline-block;
    padding: 1rem 0;

    &.current {
      text-decoration: underline;
      background: rgba(0,0,0,0.3);
    }
  }
}

.fireTypeCount {
  text-align: right;
  font-size: 0.8rem;
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
  text-transform: uppercase;

  th {
    border-bottom: 1px solid #ffffee;
    padding-bottom: .5em;
  }
  tbody tr:first-child td {
    padding-top: .5em;
  }
  th, td {
    padding: .2rem 0;
  }
  td:last-child {
    width: 3rem;
  }
  tfoot td {
    border-top: 1px solid #ffffee;
    padding-top: .5em;
  }
}
